// This is where you can import other stylesheets or write your scss code

// Variable overrides first
$primary: #7a44fe;
$font-family-base: "Love Ya Like A Sister", cursive;
$display-font-sizes: (
  1: 10vw,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem,
);

$font-size-base: 1rem;
$lead-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 5;
$border-radius: 0;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 5,
  7: $spacer * 10,
);

$position-values: (
  0: 0,
  5: 5%,
  10: 10%,
  15: 15%,
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
);

@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  header {
    background-image: url("../images/lidye-1Shk_PkNkNw-unsplash.jpg");
    height: 45rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 90%;
  }
}
